<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <PublishTrimmed>false</PublishTrimmed>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <PublishDir>../../artifacts/win-x64/</PublishDir>
  </PropertyGroup>

  <Target Name="CleanPortablePublishDirectory" BeforeTargets="PrepareForPublish">
    <RemoveDir Directories="$(PublishDir)" />
  </Target>

  <Target Name="RemovePortablePublishSymbols" AfterTargets="Publish">
    <ItemGroup>
      <PublishedSymbols Include="$(PublishDir)*.pdb" />
    </ItemGroup>
    <Delete Files="@(PublishedSymbols)" />
  </Target>
</Project>
